/****************************************
Project: PrettyBird - Thunderbird 17 userchrome.css
Author: Brandon Corbin
Url: http://icorbin.com
Dec 29th 2012
****************************************/

@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

/****************************************
Globals
****************************************/

*{
	outline: 0 !important; 
	-moz-transition: all .1s ease; 
	-moz-box-sizing: border-box;
}

window {
	background-color:#000 !important;
    font-family:'Free Sans',sans-serif;
    font-size:12px !important;
}

/****************************************
Menu Bar
****************************************/
#menubar-items {
	text-shadow:0px 1px rgba(255,255,255,0.3) !important ; 
	color: rgba(0,0,0,.8) !important;
	font-size:12px !important;

}
menu{
	color: #666 !important
}
menu:hover, menu:focus{
	color: #000 !important
}

/****************************************
Message Window
****************************************/

#singlemessage { 
	background-color:#FFF !important;
}

#msgHeaderView {
	background-color:#EEE !important;
	box-shadow:inset 0px -3px 5px rgba(0,0,0,.1), inset 0px 3px 5px rgba(0,0,0,.1), 0px 1px 1px rgba(0,0,0,.1) !important;
	padding:4px 8px 7px !important;
	
}

/****************************************
Toolbox, Panels and the Likes
****************************************/

#searchInput {
	max-width:190px !important;
	border-radius:20px !important;
}

.mail-toolbox {
	background-image:none !important;
	border-top:solid 1px rgba(0,0,0,.1);
	background:-moz-linear-gradient(top, #dddddd 0%, #c9c9c9 100%) !important;
	margin-top:-2px;
	z-index:300;
	box-shadow:inset 0px 1px 0px rgba(255,255,255,.9);
	padding-left:10px;
}

.toolbarbutton-1[disabled=true] {
	opacity: .1;
}

.toolbarbutton-1 {
	font-size:12px !important;
}


#navigation-toolbox {
	background-color:#FFF !important;
	-moz-appearance:none;
}

/****************************************
TREES! (Data Grids and Lists)
****************************************/
tree, treecell,treechildren,treecol,treecols,treeitem,treerow,treeseparator
{
	box-shadow: none !important; 
	background-image: none !important; 
	background-color: #fafafa !important; 
	color: #444; 
}


treechildren::-moz-tree-row  {
	padding:  .5em !important; 
	height: 2em !important;
	outline: 0 !important
}

#threadTree  treechildren::-moz-tree-row(even),
#threadTree treechildren::-moz-tree-row(odd) {
	background-color:#FFF !important;
	border-bottom:solid 1px rgba(0,0,0,.1) !important;
 }

#threadTree treechildren {
	background-color:#F8F8F8 !important;
}

treechildren { 
	background-color:#dee4ea !important;
	text-shadow:0px 1px 0px rgba(255,255,255,.9);
    
}

#threadTree treechildren::-moz-tree-row(selected), treechildren::-moz-tree-row(selected) {
	background-color: #69c !important;
	background-image: -moz-linear-gradient(center bottom, rgba(0,0,0,0.15) 20%,rgba(0,0,0,0.0) 100%);
}

treechildren::-moz-tree-row {
	padding:0em !important; 
	height:1.8em !important;
}

#folderTree treechildren { 
	background-image:none !important;

}

treechildren::-moz-tree-row(selected), treechildren::-moz-tree-row(current, focus), 
treechildren::-moz-tree-row(selected, focus), treechildren::-moz-tree-row(selected, current, focus) { 

}

/****************************************
TABS!
****************************************/
.tabbrowser-strip {
	height: 32px !important; 
	text-shadow:0px 1px rgba(255,255,255,0.3); 
}

.tabbrowser-tab{
	opacity:0.5; 
	margin:-0px 1.5px !important; 
	color:rgba(0,0,0,0.95) !important;/*font-weight:bold;*/; 
	font-size:12px;
}
.tabbrowser-tab[selected="true"]{
	opacity:.2
}

tabpanel {
	-moz-appearance:none !important;
	background-color:#FFF !important;
	-moz-box-shadow:none !important;
}

.tabbrowser-tabs {
	background-color:#000 !important;
	background:none !important;
	box-shadow:none !important;
}

#tabcontainer { 
	background-image:none !important;
	background-color:none !important;
	-moz-appearance:none !important;
	box-shadow:none !important;

}

#tabs-toolbar {
	background-color:#FFF !important;
	background:none !important;
	box-shadow:none !important;
	border-bottom:solid 1px #000;
}

.tabbrowser-strip{
	margin-top: -2px !important;
	background-color:#000;
 }

.tabmail-tab {
	margin: 1px 0px !important;
	font-size:12px !important;
	text-shadow:0px 1px 0px rgba(255,255,255,.7) !important;
}


.tab-background {
	background-image: none !important;
	font-size:12px !important;
	-moz-margin-start: 0px !important;
	-moz-margin-end: 1px !important;
	background-color: none !important;
	background-image: none !important;
	background: none !important;
	border:none !important;
}

.tabmail-tab:not([selected]):not(:hover) +
.tabmail-tab:not([selected]):not(:hover)::before,
.tabmail-tab:last-child:not([selected]):not(:hover)::after {
	font-size:12px;
}

.tabmail-tab:hover .tab-background,
.tabmail-tab[selected] .tab-background {
	background:-moz-linear-gradient(top, #ffffff 0%, #DDDDDD 100%) !important;  
	border: 1px solid threedshadow !important;
	border-bottom: none !important;
	border-top-left-radius: 4px !important;
	border-top-right-radius: 4px !important;
	margin-bottom:-2px;
  	z-index:1000;

}

.tabmail-tab:hover .tab-text,
.tabmail-tab[selected] .tab-text {
	color: black !important;
	font-size:12px;
	opacity: 1 !important;
}

.tabmail-tab:last-child:not([selected]):not(:hover)::after {
	-moz-margin-start: 0px;
	-moz-margin-end: 2px;
}


/* Here we go */


