/****************************************
Project: PrettyBird - Thunderbird 17 userchrome.css
Author: Brandon Corbin
Url: http://icorbin.com
Dec 29th 2012
****************************************/

@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

/****************************************
Globals
****************************************/

* {
	outline: 0 !important; 
	-moz-transition: all .1s ease; 
	-moz-box-sizing: border-box;
	outline-width: 0 !important;
	outline-style: none !important;
}

window {
	background-color:#000 !important;
    font-family:'Free Sans',sans-serif;
    font-size:12px !important;
}

/****************************************
Menu Bar
****************************************/
#menubar-items {
	text-shadow:0px 1px rgba(255,255,255,0.3) !important ; 
	color: rgba(0,0,0,.8) !important;
	font-size:12px !important;

}
menu{
	color: #666 !important
}
menu:hover, menu:focus{
	color: #000 !important
}

/****************************************
Message Window
****************************************/

#singlemessage { 
	background-color:#D8DEE5 !important;
	box-shadow:inset 1px 0px 1px rgba(0,0,0,.1) !important;
}

#msgHeaderView {
	border-bottom:none !important;
	background:none !important;
	margin:0px 10px !important;
	text-shadow:0px 1px 0px rgba(255,255,255,.7);
	position: relative !important;

}

/*#otherActionsBox {
	position:absolute !important;
	bottom:0px !important;
	right:0px !important;
}*/



#msgHeaderView .headerName  { 
	max-width:50px !important;
	width:50px !important;
	display:inline-block !important;
	
}

#msgHeaderView #expandedsubjectLabel { 

}

#expandedfromBox label {
	color:rgba(0,0,0,.4) !important;
}

#expandedsubjectBox .headerValue {
	font-size:20px !important;
	line-height:25px !important;
	display:inline-block !important;
	
}

#expandedHeadersColumns column {
	
}


#msgHeaderView #otherActionsButton { display:none !important;}

#mgsHeaderView .emailStar {
	margin-left:6px !important;
}
/*#expandedHeadersTopBox {
	padding:0px !important;
	margin-top:6px !important;
	margin-bottom:-6px !important;
	float:left !important;

}
#expandedsubjectBox {
	padding:0px !important;
	margin:0px !important;
	margin-top:-20px !important;
	margin-bottom:-5px !important;
}*/

#messagepane {

	margin:10px !important;
	background-color:#FFF !important;
	box-shadow:1px 2px 4px rgba(0,0,0,.2), inset 0px 1px 0px rgba(255,255,255,.4) !important;
	border-radius:2px !important;
	font-size:12px !important;
	border:solid 1px rgba(0,0,0,.1) !important;
	border-right:solid 1px rgba(0,0,0,.3) !important;
	border-bottom:solid 1px rgba(0,0,0,.3) !important;
}

/****************************************
Attachment Bar
****************************************/

#attachmentBar {
	background:-moz-linear-gradient(top, #2FADF4 0%, #1991EF 100%) !important;
	border-top:solid 1px rgba(0,0,0,.1) !important;
	box-shadow:inset 0px 1px 0px rgba(255,255,255,.5) !important;
	color:#FFF !important;
	text-shadow:0px 1px 0px rgba(0,0,0,.2) !important;
	padding:5px !important;
}

#attachmentBar label {
	color:#FFF !important;
}

#attachmentSaveAllMultipleMenu label {
	color:#666  !important;
}

#attachmentSaveAllSingleMenu label {
	color:#666  !important;
}

#attachmentSaveAllMultiple { 
	-moz-appearance:none !important;
}

#attachmentSaveAllSingle .toolbarbutton-menubutton-button, #attachmentSaveAll .toolbarbutton-menubutton-button {
	background:none !important;
	background-color:rgba(0,0,0,.12) !important;
	border:solid 1px rgba(0,0,0,.1) !important;
	padding-left:8px !important;
	padding-right:8px !important;
	box-shadow:inset 0px 1px 0px rgba(255,255,255,.4), 0px 3px 10px rgba(0,0,0,.05) !important;
	background-image:none !important;
	border-radius:15px !important;
	font-size:11px !important;
	-moz-appearance:none !important;
	line-height:20px;
	text-shadow:0px -1px 0px rgba(0,0,0,.2);
	padding:4px 10px 4px 8px !important;
}

#attachmentSaveAllSingle .toolbarbutton-menubutton-button:hover, #attachmentSaveAll .toolbarbutton-menubutton-button:hover {
	background-color:rgba(0,0,0,.2) !important;
	border:solid 1px rgba(0,0,0,.15) !important;
}

#attachmentSaveAllSingle:hover, #attachmentSaveAll:hover {
	-moz-appearance:none !important;
}

#attachmentSaveAllSingle .toolbarbutton-icon, #attachmentSaveAll .toolbarbutton-icon {
	display:none !important;
}

#attachmentList { 
	padding:5px !important;
}

/****************************************
Toolbox, Panels and the Likes
****************************************/

#searchInput {
	max-width:190px !important;
	border-radius:20px !important;
	-moz-appearance:none !important;
	font-size:12px !important;
	border:solid 1px rgba(0,0,0,.3) !important;
	box-shadow:inset 2px 2px 2px rgba(0,0,0,.1), 0px 1px 0px rgba(255,255,255,.4) !important;
	padding-left:4px !important;
	padding-right:4px !important;

}

.mail-toolbox {
	background-image:none !important;
	border-top:solid 1px rgba(0,0,0,.1);
	background:-moz-linear-gradient(top, #dddddd 0%, #B2B2B2 100%) !important;
	margin-top:-2px;
	z-index:300;
	box-shadow:inset 0px 1px 0px rgba(255,255,255,.9) !important;
	padding-left:10px !important;
	border-bottom:solid 1px rgba(0,0,0,.3) !important;

}

.toolbarbutton-1[disabled=true] {
	opacity: .1;
}

.toolbarbutton-1 {
	font-size:12px !important;
}


#navigation-toolbox {
	background-color:#FFF !important;
	-moz-appearance:none;
}

/****************************************
TREES! (Data Grids and Lists)
****************************************/
tree, treecell,treechildren,treecol,treecols,treeitem,treerow,treeseparator
{
	box-shadow: none !important; 
	background-color: #fafafa !important; 
	color: #444; 
}


treechildren::-moz-tree-row  {
	padding:  .5em !important; 
	height: 2em !important;
	outline: 0 !important
}

#threadTree  treechildren::-moz-tree-row(even),
#threadTree treechildren::-moz-tree-row(odd) {
	background-color:#FFF !important;
	border-bottom:solid 1px rgba(0,0,0,.1) !important;
 }

#threadTree treechildren {
	background-color:#F8F8F8 !important;
}

treechildren { 
	
	text-shadow:0px 1px 0px rgba(255,255,255,.9) !important;
	
    
}



/****************************************
Email Data List
****************************************/
#threadTree treecol {
	-moz-appearance:none !important;
	background:-moz-linear-gradient(top, #C8C8C8 0%, #B2B2B2 100%) !important;
	color:rgba(0,0,0,.7) !important;
	text-shadow:0px 1px 0px rgba(255,255,255,.5) !important;
	list-style-image:none !important;
	border:none !important;
	border-left:solid 1px rgba(0,0,0,.15) !important;
	border-right:solid 1px rgba(255,255,255,.3) !important;
	line-height:20px !important;
	padding:5px 3px !important;
	height:20px !important;
	border-bottom:solid 1px rgba(0,0,0,.2) !important;
	outline-style: none !important;
	font-weight:bold !important;
	font-size:11px !important;
	box-shadow: inset 0px 1px 0px rgba(255,255,255,.3) !important;
}

#threadTree treecol:hover {
	background:-moz-linear-gradient(top, #C8C8C8 0%, #A5A5A5 100%) !important;
}

#threadTree treecolpicker {
	-moz-appearance:none !important;
	background:-moz-linear-gradient(top, #C8C8C8 0%, #A5A5A5 100%) !important;
	color:rgba(0,0,0,.7) !important;
	text-shadow:0px 1px 0px rgba(255,255,255,.5) !important;
	list-style-image:none !important;
	border:solid 1px rgba(0,0,0,.1) !important;
	line-height:20px !important;
	padding:5px 3px !important;
	height:20px !important;
	border-bottom:solid 1px rgba(0,0,0,.2) !important;
	outline-style: none !important;
	border-top:none !important;
}

#threadTree treechildren::-moz-tree-row(selected) {
	outline: none !important;
	-moz-appearance:none !important;
	background-color:#437CD4 !important;
	background-image:  -moz-linear-gradient(top, #528EEB 0%, #437CD4 100%) !important;
	color: #FFF !important;
	text-shadow:0px 1px 0px rgba(0,0,0,.14) !important;
	box-shadow:0px 1px 0px rgba(0,0,0,.1), inset 0px 1px 0px rgba(255,255,255,.3) !important;
	font-weight:bold !important;
	padding:2px 0 !important;
	border-top:solid 1px rgba(0,0,0,.2);


}

#threadTree .tree-scrollable-columns {
	background-image:none !important;
	background-color:#000 !important;
}

#threadTree .treeCol .treecol-text {
	font-size:10px !important;
	text-transform: uppercase;
	color:#333 !important;
	text-shadow:0px 1px 0px rgba(255,255,255,.9);
}

treechildren::-moz-tree-row {
	padding:0em !important; 
	height:1.8em !important;
}

#folderTree treechildren { 
	background-image:none !important;
	background:none !important;
}


treechildren::-moz-tree-row(selected), treechildren::-moz-tree-row(current, focus), 
treechildren::-moz-tree-row(selected, focus), treechildren::-moz-tree-row(selected, current, focus) { 
	outline: none;
}


/****************************************
The Account / Mailbox Pane
****************************************/
#folderTree {
	
	background-color:#D8DEE5 !important;
	box-shadow:inset -1px 0px 1px rgba(0,0,0,.1) !important;
}

#folderTree  treechildren::-moz-tree-row(selected) {
	background-color: #69c !important;
	background-image:  -moz-linear-gradient(top, #bdc7dc 0%, #9fadc7 100%) !important;
	color: #FFF !important;
	text-shadow:0px 1px 0px rgba(0,0,0,.9) !important;
	box-shadow:0px 1px 0px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.7), inset -2px 0px 2px rgba(0,0,0,.4) !important;
	font-weight:bold !important;
	outline-style: none !important;
	border-top:solid 1px rgba(0,0,0,.05) !important;
	border-bottom:solid 1px rgba(0,0,0,.05) !important;
}


#folderTree  treechildren::-moz-tree-text(selected) {
	font-weight:bold !important;
}


#folderPaneBox {

}

#folderPaneCols {
	background:none !important;
	background-image:none !important;
	-moz-appearance: none !important;
}


/****************************************
TABS!
****************************************/
.tabbrowser-strip {
	height: 32px !important; 
	text-shadow:0px 1px rgba(255,255,255,0.3); 
}

.tabbrowser-tab{
	opacity:0.5; 
	margin:-0px 1.5px !important; 
	color:rgba(0,0,0,0.95) !important;/*font-weight:bold;*/; 
	font-size:12px;
}
.tabbrowser-tab[selected="true"]{
	opacity:.2
}

tabpanel {
	-moz-appearance:none !important;
	background-color:#FFF !important;
	-moz-box-shadow:none !important;
}

.tabbrowser-tabs {
	background-color:#000 !important;
	background:none !important;
	box-shadow:none !important;
}

#tabcontainer { 
	background-image:none !important;
	background-color:none !important;
	-moz-appearance:none !important;
	box-shadow:none !important;

}

#tabs-toolbar {
	background-color:#FFF !important;
	background:none !important;
	box-shadow:none !important;
	border-bottom:solid 1px #000;
}

.tabbrowser-strip{
	margin-top: -2px !important;
	background-color:#000;
 }

.tabmail-tab {
	margin: 1px 0px !important;
	font-size:12px !important;
	text-shadow:0px 1px 0px rgba(255,255,255,.7) !important;
}


.tab-background {
	background-image: none !important;
	font-size:12px !important;
	-moz-margin-start: 0px !important;
	-moz-margin-end: 1px !important;
	background-color: none !important;
	background-image: none !important;
	background: none !important;
	border:none !important;
}

.tabmail-tab:not([selected]):not(:hover) +
.tabmail-tab:not([selected]):not(:hover)::before,
.tabmail-tab:last-child:not([selected]):not(:hover)::after {
	font-size:12px;
}

.tabmail-tab[selected] .tab-background {
	background:-moz-linear-gradient(top, #f8f8f8 0%, #DDDDDD 100%) !important;  
	border: 1px solid rgba(0,0,0,.2) !important;
	border-bottom: none !important;
	border-top-left-radius: 4px !important;
	border-top-right-radius: 4px !important;
	margin-bottom:-2px;
  	z-index:1000 !important;
  	box-shadow:inset 0px 1px 0px rgba(255,255,255,.7) !important;

}

.tabmail-tab:hover .tab-background {
	background:-moz-linear-gradient(top, #f8f8f8 0%, #DDDDDD 100%) !important;  
  	opacity: .6 !important;
  	border: 1px solid rgba(0,0,0,.2) !important;
	border-bottom: none !important;
	border-top-left-radius: 4px !important;
	border-top-right-radius: 4px !important;
  	z-index:1000 !important;
  	box-shadow:inset 0px 1px 0px rgba(255,255,255,.7) !important;


}

.tabmail-tab:hover .tab-text,
.tabmail-tab[selected] .tab-text {
	color: black !important;
	font-size:12px;
	opacity: 1 !important;
}

.tabmail-tab:last-child:not([selected]):not(:hover)::after {
	-moz-margin-start: 0px;
	-moz-margin-end: 2px;
}

toolbarbutton {
	-moz-appearance:none !important;
	border-radius:2px;
}
toolbarbutton:hover {
	-moz-appearance:none !important;
	background-color:rgba(0,0,0,.1) !important;
	box-shadow:inset 0px 1px 2px rgba(0,0,0,.3), inset 0px -1px 0px rgba(255,255,255,.3) !important;

}

.toolbarbutton-1 menupopup {
	
}


/* Here we go */

/****************************************
New Message
****************************************/

#typecol-addressingWidget {
	width : 4.2em  !important;
	border:none !important; 
	background-image:none !important;
	background:none !important;
}
#top-gradient-box hbox {
	width: 4.1em !important;
}
#top-gradient-box hbox {
}

#subject-box hbox {
	width: 4.2em !important;
}

#subject-box hbox label {
	font-size:10px !important;
	display:none !important;
}

/****************************************
Experiements
****************************************/

statusbarpanel /* Status bar */
{
	-moz-appearance: none !important; /* Override mozilla's settings */
	color:rgba(0,0,0,.7) !important;
	background:-moz-linear-gradient(top, #dddddd 0%, #c9c9c9 100%) !important;
	font-size:11px !important;
	text-shadow:0px 1px 0px rgba(255,255,255,.8);
}